<div ng-controller="memeKittenController">
		
    <div ng-repeat="memekitten in memeKittens" class="animated {{back}} meme" ng-if="activememeKitten == $index"  ng-swipe-right="backmemekitten()" ng-swipe-left="forwardmemekittens()">      

		<span  ng-class="{opac: activememeKitten > [memeKittens.length-2], goTo: true}" ng-click="forwardmemekittens()"></span>	
		<span ng-class="{opac: activememeKitten < 1, goTo: true}" ng-click="backmemekitten()"></span>
	
		<h2 ng-bind-html="memekitten.title"></h2>	

        <p ng-bind-html="memekitten.content"></p>
				
		<img class="img-responsive main" ng-src="{{memekitten.src}}" alt="{{memekitten.title}}"/><br></br>	
				
    </article>

</div>