<div id ="main" ng-controller="spaceSlothController">
         
	<nav id="itemsa" class="itemsj"></nav>

    <article ng-repeat="spaceSloth in spaceSloths" class="boxes animated {{back}}" ng-if="activespaceSloth == $index"  ng-swipe-right="backspaceSloth()" ng-swipe-left="forwardspaceSloth()">
        <h2>{{spaceSloth.title}}</h2>
        <p ng-bind-html="spaceSloth.content"></p>
		<img class="img-responsive main" ng-src="{{spaceSloth.src}}" alt="{{spaceSloth.title}}"/><br></br>		
    </article>

</div>