<div id ="main" ng-controller="picsController">
         
	<nav id="items" class="items">
		<a id="prev" href="/" class="links prev"></a>			
		<ul>
			<li class="circle" ng-repeat="pic in pics" ng-click="changeActivePic($index)">{{$index}}</li>
		</ul>			
		<a id="next" href="/" class="links next opac" style="display: inline;"></a>
	</nav>

    <article ng-repeat="pic in pics" class="boxes animated fadeIn" ng-if="activePic == $index">
        <h2>{{pic.title}}</h2>
        <div ng-bind-html="pic.desc"></div>        
    </article>

</div>